/.vscode/
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/csv-editor.xml
/.idea/deployment.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/ND073-C3-Build-AI-Enriched-Corporate-Training-Catalog.iml
/.idea/vcs.xml
